<php>$page_title = $info['title'];</php>
<include file="Public/mobile_head_weui" />
    <style>
    .header {
        text-align: center;
    }

    .main {
        padding: 10px;
    }

    .line {
        top: 0;
        border-top: 1px solid #e5e5e5;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
        width: 80%;
        margin: 0 auto;
    }
    </style>

<body>
    <div class="main">
        <section class="content">
            {$info.content|htmlspecialchars_decode}
        </section>
    </div>
</body>
<script>
$(function() {});
</script>

</html>