<php>$page_title = '项目列表';</php>
<include file="Public/mobile_head_weui" />
    <style>
    .header {
        text-align: center;
    }

    .main {
        padding: 10px;
    }

    .line {
        top: 0;
        border-top: 1px solid #e5e5e5;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
        width: 80%;
        margin: 0 auto;
    }

    .title-bg {
        display: block;
        position: relative;
        height: 50px;
        line-height: 50px;
        padding: 0 15px;
        margin-top: -57px;
        background-color: #000;
        opacity: .7;
    }

    .title {
        display: block;
        position: relative;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        color: #FFF;
        padding: 0 15px;
        margin-top: -50px;
    }

    .description-box {
        padding: 8px 12px;
        background-color: #eee;
    }
    .description {
        color: #333;

        font-size: 13px;
        line-height: 1.2;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    </style>

<body>
    <div class="main">
        <ul class="big_pic_list">
            <volist name="lists" id="vo">
                <li style="margin-bottom: 15px;">
                    <php>$url = U('m_detail', 'id='.$vo['id']);</php>
                    <a href="{$url}">
                        <notempty name="vo.cover"><img src="{$vo.cover|get_cover_url}" height="180" width="100%" /></notempty>
                        <div class="title-bg"></div>
                        <div class="title">{$vo.title}</div>
                        <notempty name="vo.description">
                            <div class="description-box"><div class="description">{$vo.description}</div></div>
                        </notempty>
                    </a>
                </li>
            </volist>
        </ul>
    </div>
</body>
<script>
$(function() {});
</script>

</html>