<include file="Public/mobile_head"/>
<style type="text/css">
  input.text.input-large, input.text.input-medium {
    border: none;
    padding: 5px;
  }
  label {
    display: block;
    background-color: #e6e5e5;
    vertical-align: middle;
    padding: 0px 7px;
    font-size: 12px;
    line-height: 25px;
    margin: 0;
  }
</style>
<body>
	<div id="container" class="container body">
    	<div class="block_content_bg p_10"> 
        <!-- 表单 -->
        <form id="form" class="form-horizontal">
          
              <volist name="fields" id="field">
                <if condition="$field['is_show'] == 4">
                  <input readOnly="true"  type="hidden" class="text input-large" name="{$field.name}" value="{$data[$field['name']]}">
                </if>
                <if condition="($field['is_show'] == 1 || $field['is_show'] == 3 || ($field['is_show'] == 5 && I($field['name']))) && $field['type'] != user">
                  <div class="form-item cf toggle-{$field.name}">
                    <label class="item-label">
                    <notempty name="field.is_must"><span class="need_flag">*</span></notempty>
                    {$field['title']}
                    <span class="check-tips">
                      <notempty name="field['remark']">（{$field['remark']}）</notempty>
                      </span></label>
                    <div class="controls">
                      <switch name="field.type">
                        <case value="num">
                          <input readOnly="true"  type="number" class="text input-medium" name="{$field.name}" value="{$data[$field['name']]|default='无'}">
                        </case>
                        <case value="string">
                          <input readOnly="true"  type="text" class="text input-large" name="{$field.name}" value="{$data[$field['name']]|default='无'}">
                        </case>
                        <case value="textarea">
                           <textarea name="{$field.name}">{$data[$field['name']]|default='无'}</textarea>
                        </case>
                        <case value="datetime">
                          <input readOnly="true"  type="datetime" name="{$field.name}" class="text input-large time" value="{$data[$field['name']]|time_format}" placeholder="请选择时间" />
                        </case>
                        <case value="date">
                          <input readOnly="true"  type="datetime" name="{$field.name}" class="text input-large date" value="{$data[$field['name']]|time_format='Y-m-d'}" placeholder="请选择时间" />
                        </case>                        
                        <case value="bool">
                          <select name="{$field.name}">
                            <volist name=":parse_field_attr($field['extra'])" id="vo"> <option value="{$key}" class="toggle-data" toggle-data="{$vo|get_hide_attr}"
                              <eq name="data[$field['name']]" value="$key">selected</eq>
                              >{$vo|clean_hide_attr}
                              </option>
                            </volist>
                          </select>
                        </case>
                        <case value="select">
                          <select name="{$field.name}">
                            <volist name=":parse_field_attr($field['extra'])" id="vo"> <option value="{$key}" class="toggle-data" toggle-data="{$vo|get_hide_attr}"
                              <eq name="data[$field['name']]" value="$key">selected</eq>
                              >{$vo|clean_hide_attr}
                              </option>
                            </volist>
                          </select>
                        </case>
                        <case value="cascade">
                        <div id="cascade_{$field.name}"></div>
                        {:hook('cascade', array('name'=>$field['name'],'value'=>$data[$field['name']],'extra'=>$field['extra']))}
                        </case>   
                        <case value="dynamic_select">
                        <div id="dynamic_select_{$field.name}"></div>
                        {:hook('dynamic_select', array('name'=>$field['name'],'value'=>$data[$field['name']],'extra'=>$field['extra']))}
                        </case>
                        <case value="dynamic_checkbox">
                        <div id="dynamic_checkbox_{$field.name}"></div>
                        {:hook('dynamic_checkbox', array('name'=>$field['name'],'value'=>$data[$field['name']],'extra'=>$field['extra']))}
                        </case>                           
                        <case value="news">
                        <div id="news_{$field.name}"></div>
                        {:hook('news', array('name'=>$field['name'],'value'=>$data[$field['name']],'extra'=>$field['extra']))}
                        </case> 
                        <case value="image">
                        <div id="image_{$field.name}"></div>
                        {:hook('image', array('name'=>$field['name'],'value'=>$data[$field['name']],'extra'=>$field['extra']))}
                        </case>                                                    
                        <case value="radio">
                          <volist name=":parse_field_attr($field['extra'])" id="vo">
                          	<div class="check-item">
							<!--[if !IE]><!-->  
								  <input readOnly="true"  type="radio" class="regular-radio toggle-data" value="{$key}" id="{$field.name}_{$key}" name="{$field.name}" toggle-data="{$vo|get_hide_attr}"
								  <eq name="data[$field['name']]" value="$key">checked="checked"</eq> />
								  <label for="{$field.name}_{$key}"></label>{$vo|clean_hide_attr} 
							  <!--<![endif]-->
							   <!--[if IE]>
							       <input readOnly="true"  type="radio" value="{$key}" 
								   id="{$field.name}_{$key}" name="{$field.name}" class="toggle-data" toggle-data="{$vo|get_hide_attr}"
								  <eq name="data[$field['name']]" value="$key">checked="checked"</eq>/> 
								  <label for="{$field.name}_{$key}"></label>{$vo|clean_hide_attr}
							   <![endif]-->
                             </div>
                          </volist>
                        </case>
                        <case value="checkbox">
                          <volist name=":parse_field_attr($field['extra'])" id="vo">
                          	<div class="check-item">
                              <input readOnly="true"  type="checkbox" class="regular-checkbox toggle-data" value="{$key}" id="{$field.name}_{$key}" name="{$field.name}[]" toggle-data="{$vo|get_hide_attr}"
                              <in name="key" value="$data[$field['name']]" >checked="checked"</in> >
                              <label for="{$field.name}_{$key}"></label>{$vo|clean_hide_attr} 
                             </div>
                          </volist>
                        </case>
                        <case value="editor">
                          <label class="textarea">
                            <textarea name="{$field.name}">{$data[$field['name']]}</textarea>
                            {:hook('adminArticleEdit', array('name'=>$field['name'],'value'=>$data[$field['name']]))} </label>
                        </case>
                        <case value="picture">
                          <div class="controls uploadrow2" data-max="1" title="点击修改图片" rel="{$field.name}">
                            <input readOnly="true"  type="file" id="upload_picture_{$field.name}">
                            <input readOnly="true"  type="hidden" name="{$field.name}" id="cover_id_{$field.name}" value="{$data[$field['name']]}"/>
                            <div class="upload-img-box">
                              <notempty name="data[$field['name']]">
                                <div class="upload-pre-item2"><img width="100" height="100" src="{$data[$field['name']]|get_cover_url}"/></div>
                                <em class="edit_img_icon">&nbsp;</em>
                              </notempty>
                            </div>
                          </div>
                        </case>
                        <case value="mult_picture">
                            <div class="mult_imgs">
                                <div class="upload-img-view" id='mutl_picture_{$field.name}'>
                                  <notempty name="data[$field['name']]">
                                  	<volist name="data[$field['name']]" id="vo">
                                    <div class="upload-pre-item22">
                                    <img width="100" height="100" src="{$vo|get_cover_url}"/>
                                    <input readOnly="true"  type="hidden" name="{$field.name}[]" value="{$vo}"/>
                                    <em>&nbsp;</em>
                                    </div>
                                    </volist>
                                  </notempty>
                                </div>
                                <div class="controls uploadrow2" data-max="9" title="点击上传图片" rel="{$field.name}">
                                  <input readOnly="true"  type="file" id="upload_picture_{$field.name}">
                                </div>
                            </div>
                        </case>
                        <case value="file">
                          <div class="controls upload_file" rel="{$field.name}">
                            <input readOnly="true"  type="file" id="upload_file_{$field.name}">
                            <input readOnly="true"  type="hidden" name="{$field.name}" value="{$data[$field['name']]}"/>
                            <div class="upload-img-box">
                              <present name="data[$field['name']]">
                                <div class="upload-pre-file"><span class="upload_icon_all"></span>{$data[$field['name']]|get_table_field=###,'id','name','File'}</div>
                              </present>
                            </div>
                          </div>
                        </case>
                        <case value="user">
	                        <div id="userList" class="common_add_list fl">
	                            <notempty name="data[$field['name']]">
	                                <div class="item">
	                                    <php>
	                                        $userInfo = getUserInfo($data[$field['name']]);
	                                    </php>
	                                    <img src="{$userInfo['headimgurl']}"/><br/><span>{$userInfo['nickname']}</span>
	                                </div>
	                            </notempty>
	                       </div>
	                    </case>
                        <default/>
                        <input readOnly="true"  type="text" class="text input-large" name="{$field.name}" value="{$data[$field['name']]}">
                      </switch>
                    </div>
                  </div>
                </if>
              </volist>
        </div>
        </form>
      </div>
  </div>
</body>
</html>
