@charset "utf-8";
/* CSS Document */

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp { border: 0; margin: 0; padding: 0; font-size: 100%;}
html,body {height: 100%;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
b,strong {font-weight: bold;}
img {color: transparent; font-size: 0; vertical-align: middle;-ms-interpolation-mode: bicubic;}
ol,ul { list-style: none;}
li { display: list-item;}
table {border-collapse: collapse; border-spacing: 0;}
th,td,caption {font-weight: normal; vertical-align: top; text-align: left;}
q {quotes: none;}
q:before,q:after {content: ''; content: none;}
sub,sup,small {font-size: 75%;}
sub,sup {line-height: 0; position: relative; vertical-align: baseline;}
sub { bottom: -0.25em;}
sup {top: -0.5em;}
svg { overflow: hidden;}
input,button,select,textarea{outline:none} 
textarea{resize:none}

body,html{ width:100%; height:100%; overflow: hidden; }

/*手机端 不显示 A标签阴影*/
body, div, a, span, ul, li, img, div:after, div:before, a:after, a:before, span:after, span:before, ul:after, ul:before, li:after, li:before, img:after, img:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    -moz-user-select: -moz-none;
    -webkit-overflow-scrolling: touch;
   
}

@-webkit-keyframes rotate360 {
    0%{ -webkit-transform:rotate(0deg);}    
    100%{ -webkit-transform:rotate(360deg);}
}
@keyframes rotate360 {
    0%{ transform:rotate(0deg);}    
    100%{ transform:rotate(360deg);}
}

@-webkit-keyframes rotate360Back {
    0%{ -webkit-transform:rotate(0deg);}    
    100%{ -webkit-transform:rotate(-360deg);}
}
@keyframes rotate360Back {
    0%{ transform:rotate(0deg);}    
    100%{ transform:rotate(-360deg);}
}

@-webkit-keyframes toUp {
    0%{ opacity:1; -webkit-transform: translateY(0px);} 
    100%{ opacity:0; -webkit-transform: translateY(-20px);}
}
@keyframes toUp {
    0%{ opacity:1; transform: translateY(0px);} 
    100%{ opacity:0; transform: translateY(-20px);}
}

@-webkit-keyframes rotateInBack {
    0%{ opacity:0; -webkit-transform: scale(0) rotate(360deg);} 
    80%{ opacity:1; -webkit-transform: scale(1) rotate(0deg);}
    90%{ opacity:1; -webkit-transform: scale(1.1) rotate(-10deg);}
    100%{ opacity:1; -webkit-transform: scale(1) rotate(0deg);}
}
@keyframes rotateInBack {
    0%{ opacity:0; transform: scale(0) rotate(360deg);} 
    80%{ opacity:1; transform: scale(1) rotate(0deg);}
    90%{ opacity:1; transform: scale(1.1) rotate(-10deg);}
    100%{ opacity:1; transform: scale(1) rotate(0deg);}
}

@-webkit-keyframes rotateInBackF {
    0%{ opacity:0; -webkit-transform: scale(0) rotate(-360deg);} 
    80%{ opacity:1; -webkit-transform: scale(1) rotate(0deg);}
    90%{ opacity:1; -webkit-transform: scale(1.1) rotate(10deg);}
    100%{ opacity:1; -webkit-transform: scale(1) rotate(0deg);}
}
@keyframes rotateInBackF {
    0%{ opacity:0; transform: scale(0) rotate(-360deg);} 
    80%{ opacity:1; transform: scale(1) rotate(0deg);}
    90%{ opacity:1; transform: scale(1.1) rotate(10deg);}
    100%{ opacity:1; transform: scale(1) rotate(0deg);}
}


/*全局设置*/
body{ background:url(../images/bg.jpg) no-repeat center center; background-size:cover; -webkit-transition:opacity 300ms ease; font-size:0.625em; font-family:Microsoft YaHei, Arial; -webkit-transition:opacity .3s ease; transition:opacity .3s ease;}
.clearfix:after {content:"\200B"; display:block; height:0; clear:both; }
.clearfix { *zoom:1; }
.ellipsis{white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; -moz-binding:url('ellipsis.xml#ellipsis'); overflow:hidden;}
span[id*="cnzz_stat"]{ display:none;}
.none{ display:none !important;}
::-webkit-input-placeholder{color: rgba(255, 255, 255, 0.4);}
i{ font-style:normal;}
a{ color:inherit; text-decoration:none;}
audio{ display:none; visibility:hidden; -webkit-transform:scale(0); transform:scale(0); position:absolute; left:0px; top:0px;}


/*提示， 弹窗*/
.alert{-webkit-transform: scale(1); transform: scale(1); opacity: 1; visibility: visible;  -webkit-transition: all 300ms ease; transition: all 300ms ease;  position:fixed; left:0px; top:0px; width:100%; height:100%; background:rgba(0, 0, 0, 0.8); z-index:9999;}
.alert .alert-text{ position: relative; word-break:break-all; margin:100px 60px 0px 60px; padding:30px 20px; border-radius:5px; text-align:center; background:#c8142e; font-size:1.5em; color:#ffffff; font-weight: bold;}
.alert i { position: absolute; right: 60px; top:100px; display: block; width: 21px; height: 21px; background: url(../images/alert_close.png) no-repeat center center; background-size: cover; }
.alert.hide { -webkit-transform: scale(0); transform: scale(0); opacity: 0; visibility: hidden; }

/*加载图片*/
.page-load-mask{ -webkit-transition: opacity 300ms ease; transition: opacity 300ms ease; position:absolute; z-index:10000; left:0px; top:0px; width:100%; height:100%; text-align:center;}
.page-load-mask-text{ line-height:30px; color:#ffffff; font-weight:bold; font-size:1.6em;}
.page-load-mask-img{display: inline-block; background: url("../images/load.gif") no-repeat center center;width: 31px;height: 31px; }
.page-load-mask{ background:#be0008; background:rgba(0,0,0, 0.9);}

.page-load-mask.hide { opacity: 0; visibility: hidden; }

.music{ -webkit-animation:rotate360 1.5s linear infinite; animation:rotate360 1.5s linear infinite; z-index:9999; width:32px; height:32px; position:fixed; right:10px; bottom:10px; background:url(../images/music.png) no-repeat 0px 0px; background-size:cover;}
.music.disabled{ -webkit-animation:none; animation:none; background-position:0px -32px;}
.arrow{ -webkit-animation: toUp 2s ease infinite; animation: toUp 2s ease infinite; z-index:9999; position:absolute; left:0px; right:0px; bottom:10px; margin:0 auto; width:27px; height:15px; background:url(../images/icons.png) no-repeat 0px -54px; background-size:cover; }

.slide {  position: absolute; overflow:hidden; width: 100%; height: 100%; left: 0px; top: 0px;  -webkit-perspective: 800; perspective: 800; -webkit-transform:scale(1.005); transform:scale(1.005); }
.slide .slide-item {display: none; overflow: hidden; position: absolute; width: 100%; height: 100%; left: 0px; top: 0px;}
.slide .slide-item.active { display: block; }
.slide .slide-item .img-item { opacity: 0;  position: absolute; width: 100%; height: 100%; left: 0px; top: 0px; background-size:100% auto; background-position: center center; background-repeat: no-repeat; }


.slide .slide-item img.img-item { width: 100%; height: auto; }
.slide .slide-item.scroll img.img-item { position:relative; }

.slide .slide-item.scroll > div { position:absolute; left:0px; top:0px; width:100%; height:100%; }

.slide .slide-item.s1 .img-item:nth-child(1) { opacity:0; background-size:cover; background-position: bottom center;  }
.slide .slide-item.s1 .img-item:nth-child(2) { opacity:0; background-size: 100% auto; background-position: top center;  }
.slide .slide-item.s1 .img-item:nth-child(3) { opacity:0; background-size: 100% auto; background-position: top center;  }

.slide .slide-item.s1.active .img-item:nth-child(1) { -webkit-animation: fadeInUp 0.8s ease forwards; animation: fadeInUp 0.8s ease forwards; }
.slide .slide-item.s1.active .img-item:nth-child(2) { -webkit-animation: fadeInDown 0.8s ease forwards; animation: fadeInDown 0.8s ease forwards; }
.slide .slide-item.s1.active .img-item:nth-child(3) { -webkit-animation: bounceIn 0.8s ease forwards 0.3s; animation: bounceIn 0.8s ease forwards 0.3s; }

.slide .slide-item.s2 .img-item:nth-child(1) { opacity:1; background-size:cover; background-position: center center;  }
.slide .slide-item.s2 .img-item:nth-child(2) { opacity:0; background-size: 100% auto; background-position: top center;  }
.slide .slide-item.s2 .img-item:nth-child(3) { opacity:1; background-size: 100% auto; background-position: top center;  }
.slide .slide-item.s2 .img-item:nth-child(4) { opacity:0; background-size: 100% auto; background-position: top center;  }
.slide .slide-item.s2 .img-item:nth-child(5) { opacity:0; background-size: 100% auto; background-position: top center;  }
.slide .slide-item.s2 .img-item:nth-child(6) { opacity:0; background-size: 100% auto; background-position: top center;  }
.slide .slide-item.s2 .img-item:nth-child(7) { opacity:0; background-size: 100% auto; background-position: top center;  }
.slide .slide-item.s2 .img-item:nth-child(8) { opacity:0; background-size: 100% auto; background-position: top center;  }

.slide .slide-item.s2.active .img-item:nth-child(2) { -webkit-animation: fadeInDown 0.8s ease forwards; animation: fadeInDown 0.8s ease forwards; }
.slide .slide-item.s2.active .img-item:nth-child(4) { -webkit-animation: fadeInLeft 0.8s ease forwards 0.3s; animation: fadeInLeft 0.8s ease forwards 0.3s; }
.slide .slide-item.s2.active .img-item:nth-child(5) { -webkit-animation: fadeInRight 0.8s ease forwards 0.6s; animation: fadeInRight 0.8s ease forwards 0.6s; }
.slide .slide-item.s2.active .img-item:nth-child(6) { -webkit-animation: fadeInUp 0.8s ease forwards 0.8s; animation: fadeInUp 0.8s ease forwards 0.8s; }
.slide .slide-item.s2.active .img-item:nth-child(7) { -webkit-animation: fadeInUp 0.8s ease forwards 1.1s; animation: fadeInUp 0.8s ease forwards 1.1s; }
.slide .slide-item.s2.active .img-item:nth-child(8) { -webkit-animation: fadeInUp 0.8s ease forwards 1.4s; animation: fadeInUp 0.8s ease forwards 1.4s; }

.slide .slide-item.s3 .img-item:nth-child(1) { opacity:1; background-size:cover; background-position: center center;  }
.slide .slide-item.s3 .img-item:nth-child(2) { opacity:0; background-size: 100% auto; background-position: top center;  }
.slide .slide-item.s3 .img-item:nth-child(3) { opacity:1; background-size: 100% auto; background-position: top center;  }
.slide .slide-item.s3 .img-item:nth-child(4) { opacity:0; background-size: 100% auto; background-position: top center;  }
.slide .slide-item.s3 .img-item:nth-child(5) { opacity:0; background-size: 100% auto; background-position: top center;  }
.slide .slide-item.s3 .img-item:nth-child(6) { opacity:0; background-size: 100% auto; background-position: top center;  }
.slide .slide-item.s3 .img-item:nth-child(7) { opacity:0; background-size: 100% auto; background-position: top center;  }
.slide .slide-item.s3 .img-item:nth-child(8) { opacity:0; background-size: 100% auto; background-position: top center;  }

.slide .slide-item.s3.active .img-item:nth-child(2) { -webkit-animation: fadeInDown 0.8s ease forwards; animation: fadeInDown 0.8s ease forwards; }
.slide .slide-item.s3.active .img-item:nth-child(4) { -webkit-animation: fadeInLeft 0.8s ease forwards 0.3s; animation: fadeInLeft 0.8s ease forwards 0.3s; }
.slide .slide-item.s3.active .img-item:nth-child(5) { -webkit-animation: fadeInRightBig 0.8s ease forwards 0.4s; animation: fadeInRightBig 0.8s ease forwards 0.4s; }
.slide .slide-item.s3.active .img-item:nth-child(6) { -webkit-animation: fadeInUp 0.8s ease forwards 0.8s; animation: fadeInUp 0.8s ease forwards 0.8s; }
.slide .slide-item.s3.active .img-item:nth-child(7) { -webkit-animation: fadeInUp 0.8s ease forwards 1.2s; animation: fadeInUp 0.8s ease forwards 1.2s; }
.slide .slide-item.s3.active .img-item:nth-child(8) { -webkit-animation: fadeInUp 0.8s ease forwards 1.4s; animation: fadeInUp 0.8s ease forwards 1.4s; }

.slide .slide-item.s4 .img-item:nth-child(1) { opacity:1; background-size:cover; background-position: center center;  }
.slide .slide-item.s4 .img-item:nth-child(2) { opacity:0; background-size: 100% auto; background-position: top center;  }
.slide .slide-item.s4 .img-item:nth-child(3) { opacity:0; background-size: 100% auto; background-position: top center;  }
.slide .slide-item.s4 .img-item:nth-child(4) { opacity:0; background-size: 100% auto; background-position: top center;  }
.slide .slide-item.s4 .img-item:nth-child(5) { opacity:0; background-size: 100% auto; background-position: top center;  }
.slide .slide-item.s4 .img-item:nth-child(6) { opacity:0; background-size: 100% auto; background-position: top center;  }

.slide .slide-item.s4.active .img-item:nth-child(2) { -webkit-animation: fadeInDown 0.8s ease forwards; animation: fadeInDown 0.8s ease forwards; }
.slide .slide-item.s4.active .img-item:nth-child(3) { -webkit-animation: fadeInLeft 0.8s ease forwards 0.3s; animation: fadeInLeft 0.8s ease forwards 0.3s; }
.slide .slide-item.s4.active .img-item:nth-child(4) { -webkit-animation: fadeInDown 0.8s ease forwards 0.3s; animation: fadeInDown 0.8s ease forwards 0.3s; }
.slide .slide-item.s4.active .img-item:nth-child(5) { -webkit-animation: fadeInUp 0.8s ease forwards 0.8s; animation: fadeInUp 0.8s ease forwards 0.8s; }
.slide .slide-item.s4.active .img-item:nth-child(6) { -webkit-animation: fadeInLeft 0.8s ease forwards 1.2s; animation: fadeInLeft 0.8s ease forwards 1.2s; }

.slide .slide-item.s5 .img-item:nth-child(1) { opacity:1; background-size:cover; background-position: center center;  }
.slide .slide-item.s5 .img-item:nth-child(2) { opacity:0; background-size: 100% auto; background-position: top center;  }
.slide .slide-item.s5 .img-item:nth-child(3) { opacity:0; background-size: 100% auto; background-position: bottom center;  }
.slide .slide-item.s5 .img-item:nth-child(4) { opacity:0; background-size: 100% auto; background-position: bottom center;  }
.slide .slide-item.s5 .img-item:nth-child(5) { opacity:0; background-size: 100% auto; background-position: bottom center;  }
.slide .slide-item.s5 .img-item:nth-child(6) { opacity:0; background-size: 100% auto; background-position: bottom center;  }
.slide .slide-item.s5 .img-item:nth-child(7) { opacity:0; background-size: 100% auto; background-position: bottom center;  }

.slide .slide-item.s5.active .img-item:nth-child(2) { -webkit-animation: fadeInDown 0.8s ease forwards; animation: fadeInDown 0.8s ease forwards; }
.slide .slide-item.s5.active .img-item:nth-child(3) { -webkit-animation: fadeInLeft 0.8s ease forwards; animation: fadeInLeft 0.8s ease forwards; }
.slide .slide-item.s5.active .img-item:nth-child(4) { -webkit-animation: fadeInUpBig 0.8s ease forwards 0.3s; animation: fadeInUpBig 0.8s ease forwards 0.3s; }
.slide .slide-item.s5.active .img-item:nth-child(5) { -webkit-animation: fadeInRight 0.8s ease forwards 0.6s; animation: fadeInRight 0.8s ease forwards 0.6s; }
.slide .slide-item.s5.active .img-item:nth-child(6) { -webkit-animation: fadeInUp 0.8s ease forwards 0.8s; animation: fadeInUp 0.8s ease forwards 0.8s; }
.slide .slide-item.s5.active .img-item:nth-child(7) { -webkit-animation: fadeInUp 0.8s ease forwards 1.2s; animation: fadeInUp 0.8s ease forwards 1.2s; }


.slide .slide-item.s6 .img-item:nth-child(1) { opacity:1; background-size:cover; background-position: top center;  }
.slide .slide-item.s6 .img-item:nth-child(2) { opacity:0; background-size: 100% auto; background-position: top center;  }
.slide .slide-item.s6 .img-item:nth-child(3) { opacity:0; background-size: 100% auto; background-position: top center;  }

.slide .slide-item.s6.active .img-item:nth-child(2) { -webkit-animation: fadeInDown 0.8s ease forwards; animation: fadeInDown 0.8s ease forwards; }
.slide .slide-item.s6.active .img-item:nth-child(3) { -webkit-animation: bounceIn 0.8s ease forwards 0.3s; animation: bounceIn 0.8s ease forwards 0.3s; }

.slide .slide-item.s6 .buttons { position: absolute; bottom: 10px; left: 0px; width: 100%; }

.slide .slide-item.s6 .rule-mask { -webkit-transform: scale(1); transform: scale(1); opacity: 1; visibility: visible;  -webkit-transition: all 300ms ease; transition: all 300ms ease;  position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background: rgba(0,0,0,0.6); }
.slide .slide-item.s6 .rule-mask .img-item { background-position: center center; background-size: 100% auto; }
.slide .slide-item.s6 .rule-mask.hide { -webkit-transform: scale(0); transform: scale(0); opacity: 0; visibility: hidden; }

.slide .slide-item.s6 .prize-mask { -webkit-transform: scale(1); transform: scale(1); opacity: 1; visibility: visible;  -webkit-transition: all 300ms ease; transition: all 300ms ease;  position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background: rgba(0,0,0,0.6); }
.slide .slide-item.s6 .prize-mask .img-item { background-position: center center; background-size: 100% auto; }
.slide .slide-item.s6 .prize-mask.hide { -webkit-transform: scale(0); transform: scale(0); opacity: 0; visibility: hidden; }


.slide .slide-item.s7 .img-item:nth-child(1) { opacity:1; background-size:cover; background-position: center center;  }
.slide .slide-item.s7 .img-item:nth-child(2) { opacity:1; background-size: 100% auto; background-position: top center;  }

.slide .slide-item.s7 .content { text-align: center; height: 300px; position: absolute; left: 0px; top:0px; right:0px; bottom: 0px; margin: auto; }
.slide .slide-item.s7 .content .title { font-size:2.3em; font-weight: bold; color: #ffffff; }
.slide .slide-item.s7 .content .tip { font-size:1.3em;  color: #ffffff; }
.slide .slide-item.s7 .content .form { padding: 20px 0px; }
.slide .slide-item.s7 .content .form > div { position: relative; padding: 10px 0px; }
.slide .slide-item.s7 .content .form input{ -webkit-appearance:none; appearance:none; text-align: center; color: #ffffff; background: rgba(255,255,255, 0.2); border:1px solid rgba(255,255,255, 0.4); border-radius:30px; height: 18px; width: 150px; margin: 0px; padding: 5px 10px; font-size:1.4em; }
.slide .slide-item.s7 .content .form select{ opacity: 0; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; margin: auto; -webkit-appearance:none; appearance:none; text-align: center; color: #ffffff; background: rgba(255,255,255, 0.2); border:1px solid rgba(255,255,255, 0.4); border-radius:30px; height: 30px; width: 170px; padding: 5px 10px 5px 23px; font-size:1.4em; }


.slide .slide-item.s8 .img-item:nth-child(1) { opacity:1; background-size:cover; background-position: center center;  }
.slide .slide-item.s8 .img-item:nth-child(2) { opacity:1; background-size: 100% auto; background-position: center center;  }

.slide .slide-item.s9 .img-item:nth-child(1) { opacity:1; background-size:cover; background-position: center center;  }
.slide .slide-item.s9 .img-item:nth-child(2) { opacity:1; background-size: 100% auto; background-position: top center;  }
.slide .slide-item.s9 .img-item:nth-child(3) { opacity:1; background-size: 100% auto; background-position: top center;  }

.slide .slide-item.s9 .content { text-align: center; z-index: 11; height: 300px; position: absolute; left: 0px; top:170px; right:0px; bottom: 0px;}
.slide .slide-item.s9 .content .title { font-size:2.3em; font-weight: bold; color: #ffffff; }
.slide .slide-item.s9 .content .tip { font-size:1.3em;  color: #ffffff; }
.slide .slide-item.s9 .content .form { padding: 20px 0px; }
.slide .slide-item.s9 .content .form > div { padding: 15px 0px; }
.slide .slide-item.s9 .content .form input{ -webkit-appearance:none; appearance:none; text-align: center; color: #ffffff; background: rgba(255,255,255, 0.2); border:1px solid rgba(255,255,255, 0.4); border-radius:30px; height: 18px; width: 150px; margin: 0px; padding: 5px 10px; font-size:1.4em; }
.slide .slide-item.s9 .content .form select{ opacity: 0; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; margin: auto; -webkit-appearance:none; appearance:none; text-align: center; color: #ffffff; background: rgba(255,255,255, 0.2); border:1px solid rgba(255,255,255, 0.4); border-radius:30px; height: 30px; width: 170px; padding: 5px 10px 5px 23px; font-size:1.4em; }

.slide .slide-item.s10 .img-item:nth-child(1) { opacity:1; background-size: 100% auto; background-position: top center;  }
.slide .slide-item.s10 .img-item:nth-child(2) { opacity:1; background-size: 100% auto; background-position: top center;  }

.slide .slide-item.s10 .content { text-align: center;  color: #ffffff; padding: 80px 0px 0px 0px;   }
.slide .slide-item.s10 .content .name { position: relative; display: inline-block; font-size: 2.3em; font-weight: bold; }
.slide .slide-item.s10 .content .name span { position: relative; top:-2px; display: inline-block; vertical-align: middle; max-width: 150px; word-break:break-all; }
.slide .slide-item.s10 .content .desc { position: relative; letter-spacing:0.2em;  margin: 5px 0px; line-height: 20px; font-size:1.2em; border-radius:20px; font-weight: bold; background: #fbc13c; display: inline-block; padding: 0px 10px; }
.slide .slide-item.s10 .content .name i { position: absolute; right: -8px; top:-2px; display: block; width: 13px; height: 13px; background: url(../images/dot_1.png) no-repeat center center; background-size:cover; }
.slide .slide-item.s10 .content .desc i { position: absolute; left: -6px; top:-6px; display: block; width: 10px; height: 10px; background: url(../images/dot_2.png) no-repeat center center; background-size:cover; }


.slide .slide-item.s11 .img-item:nth-child(1) { opacity:1; background-size: cover; background-position: bottom center;  }
.slide .slide-item.s11 .img-item:nth-child(2) { opacity:1; background-size: 100% auto; background-position: top center;  }
.slide .slide-item.s11 .img-item:nth-child(3) { opacity:1; background-size: 100% auto; background-position: top center;  }
.slide .slide-item.s11 .img-item:nth-child(4) { opacity:1; background-size: 100% auto; background-position: top center;  }
.slide .slide-item.s11 .img-item:nth-child(5) { opacity:1; background-size: 100% auto; background-position: top center;  }

.slide .slide-item.s11.active.shake .img-item:nth-child(5) { -webkit-transform-origin:top center; transform-origin:top center; -webkit-animation: shake 1s ease 3s; animation: shake 1s ease 3s; }

.slide .slide-item.s11.active .shake { -webkit-animation: shake 1.5s ease infinite; animation: shake 1.5s ease infinite; position: absolute; left: 0px; right:0px; bottom: 40px; margin: 0 auto; display: block; width: 77px; height: 77px; background: url(../images/p2/p2_3_4.png) no-repeat center center; background-size: cover; }

.slide .slide-item.s11 .content { text-align: center;  color: #ffffff; padding: 50px 0px 0px 0px;   }
.slide .slide-item.s11 .content .name { position: relative; display: inline-block; font-size: 2.3em; font-weight: bold; }
.slide .slide-item.s11 .content .name span { position: relative; top:-2px; display: inline-block; vertical-align: middle; max-width: 150px; word-break:break-all; }
.slide .slide-item.s11 .content .desc { position: relative; letter-spacing:0.2em;  margin: 5px 0px; line-height: 20px; font-size:1.2em; border-radius:20px; font-weight: bold; background: #fbc13c; display: inline-block; padding: 0px 10px; }

.slide .slide-item.s11_1 .img-item:nth-child(1) { opacity:1; background-size: cover; background-position: bottom center;  }
.slide .slide-item.s11_1 .content { position: absolute; width: 100%; height: 100%; left: 0px; top: 0px; background-size: 100% auto; background-repeat: no-repeat; background-position: top center; }
.slide .slide-item.s11_1 .content[data-id="1"] { background-image:url(../images/p2/p1.png); }
.slide .slide-item.s11_1 .content[data-id="2"] { background-image:url(../images/p2/p2.png); }
.slide .slide-item.s11_1 .content[data-id="3"] { background-image:url(../images/p2/p3.png); }
.slide .slide-item.s11_1 .content[data-id="4"] { background-image:url(../images/p2/p4.png); }
.slide .slide-item.s11_1 .content[data-id="5"] { background-image:url(../images/p2/p5.png); }
.slide .slide-item.s11_1 .content[data-id="6"] { background-image:url(../images/p2/p6.png); }
.slide .slide-item.s11_1 .content[data-id="7"] { background-image:url(../images/p2/p7.png); }
.slide .slide-item.s11_1 .content[data-id="8"] { background-image:url(../images/p2/p8.png); }
.slide .slide-item.s11_1 .content[data-id="9"] { background-image:url(../images/p2/p9.png); }
.slide .slide-item.s11_1 .content[data-id="10"] { background-image:url(../images/p2/p10.png); }
.slide .slide-item.s11_1 .content[data-id="11"] { background-image:url(../images/p2/p11.png); }
.slide .slide-item.s11_1 .content[data-id="12"] { background-image:url(../images/p2/p12.png); }
.slide .slide-item.s11_1 .content[data-id="13"] { background-image:url(../images/p2/p13.png); }
.slide .slide-item.s11_1 .content[data-id="14"] { background-image:url(../images/p2/p14.png); }
.slide .slide-item.s11_1 .content[data-id="15"] { background-image:url(../images/p2/p15.png); }
.slide .slide-item.s11_1 .content[data-id="16"] { background-image:url(../images/p2/p16.png); }
.slide .slide-item.s11_1 .content[data-id="17"] { background-image:url(../images/p2/p17.png); }
.slide .slide-item.s11_1 .content[data-id="18"] { background-image:url(../images/p2/p18.png); }
.slide .slide-item.s11_1 .content[data-id="19"] { background-image:url(../images/p2/p19.png); }
.slide .slide-item.s11_1 .content[data-id="20"] { background-image:url(../images/p2/p20.png); }
.slide .slide-item.s11_1 .content[data-id="21"] { background-image:url(../images/p2/p21.png); }
.slide .slide-item.s11_1 .buttons { position: absolute; width: 100%; left: 0px; bottom: 50px; }

.slide .slide-item.s12 .img-item:nth-child(1) { opacity:1; background-size: cover; background-position: bottom center;  }
.slide .slide-item.s12 .img-item:nth-child(2) { opacity:1; background-size: 100% auto; background-position: top center;  }

.slide .slide-item.s12 .content { text-align: center; position: relative; z-index:1; color: #ffffff; padding: 80px 0px 0px 0px;   }
.slide .slide-item.s12 .content .name { position: relative; display: inline-block; font-size: 2.3em; font-weight: bold; }
.slide .slide-item.s12 .content .name span { position: relative; top:-2px; display: inline-block; vertical-align: middle; max-width: 150px; word-break:break-all; }
.slide .slide-item.s12 .content .desc { position: relative; letter-spacing:0.2em;  margin: 5px 0px; line-height: 20px; font-size:1.2em; border-radius:20px; font-weight: bold; background: #fbc13c; display: inline-block; padding: 0px 10px; }
.slide .slide-item.s12 .content .name i { position: absolute; right: -8px; top:-2px; display: block; width: 13px; height: 13px; background: url(../images/dot_1.png) no-repeat center center; background-size:cover; }
.slide .slide-item.s12 .content .desc i { position: absolute; left: -6px; top:-6px; display: block; width: 10px; height: 10px; background: url(../images/dot_2.png) no-repeat center center; background-size:cover; }


.slide .slide-item.s12 .content .list { width: 280px; margin: 20px auto; background: rgba(255,255,255, 0.4); border-radius:10px; padding: 10px 15px; }
.slide .slide-item.s12 .content .list .table { width: 100%; text-align: left; font-size: 1.3em; }
.slide .slide-item.s12 .content .list .table .tr { }
.slide .slide-item.s12 .content .list .table .tr .td { word-break:break-all;  padding: 5px 0px; }
.slide .slide-item.s12 .content .list .table .tr .td:nth-child(1) { width: auto; }
.slide .slide-item.s12 .content .list .table .tr .td:nth-child(2) { width: 74px; }
.slide .slide-item.s12 .content .list .table .button { font-size: 0.9em; font-weight: normal; border-radius:20px; margin: 0px; padding: 0px 10px; line-height:20px; }


.slide .slide-item.s13 .img-item:nth-child(1) { opacity:1; background-size:cover; background-position: center center;  }
.slide .slide-item.s13 .img-item:nth-child(2) { opacity:1; background-size: 100% auto; background-position: top center;  }

.slide .slide-item.s13 .content { text-align: center; height: 300px; position: absolute; left: 0px; top:0px; right:0px; bottom: 0px; margin: auto; }
.slide .slide-item.s13 .content .title { font-size:2.3em; font-weight: bold; color: #ffffff; }
.slide .slide-item.s13 .content .tip { font-size:1.3em;  color: #ffffff; }
.slide .slide-item.s13 .content .form { padding: 20px 0px; }
.slide .slide-item.s13 .content .form > div { padding: 10px 0px; }
.slide .slide-item.s13 .content .form input{ -webkit-appearance:none; appearance:none; text-align: center; color: #ffffff; background: rgba(255,255,255, 0.2); border:1px solid rgba(255,255,255, 0.4); border-radius:30px; height: 18px; width: 150px; margin: 0px; padding: 5px 10px; font-size:1.4em; }
.slide .slide-item.s13 .content .form select{ opacity: 0; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; margin: auto; -webkit-appearance:none; appearance:none; text-align: center; color: #ffffff; background: rgba(255,255,255, 0.2); border:1px solid rgba(255,255,255, 0.4); border-radius:30px; height: 30px; width: 170px; padding: 5px 10px 5px 23px; font-size:1.4em; }

.slide .slide-item.s14 .img-item:nth-child(1) { opacity:1; background-size:cover; background-position: center center;  }



.slide .slide-item.s15 .img-item:nth-child(1) { opacity:1; background-size: cover; background-position: bottom center;  }
.slide .slide-item.s15 .content { position: absolute; width: 100%; height: 100%; left: 0px; top: 0px; background-size: 100% auto; background-repeat: no-repeat; background-position: top center; }
.slide .slide-item.s15 .content[data-id="1"] { background-image:url(../images/p3/p1_1.png); }
.slide .slide-item.s15 .content[data-id="2"] { background-image:url(../images/p3/p2_1.png); }
.slide .slide-item.s15 .content[data-id="3"] { background-image:url(../images/p3/p3_1.png); }
.slide .slide-item.s15 .content[data-id="4"] { background-image:url(../images/p3/p4_1.png); }
.slide .slide-item.s15 .content[data-id="5"] { background-image:url(../images/p3/p5_1.png); }
.slide .slide-item.s15 .content[data-id="6"] { background-image:url(../images/p3/p6_1.png); }
.slide .slide-item.s15 .content[data-id="7"] { background-image:url(../images/p3/p7_1.png); }
.slide .slide-item.s15 .content[data-id="8"] { background-image:url(../images/p3/p8_1.png); }
.slide .slide-item.s15 .content[data-id="9"] { background-image:url(../images/p3/p9_1.png); }
.slide .slide-item.s15 .content[data-id="10"] { background-image:url(../images/p3/p10_1.png); }
.slide .slide-item.s15 .content[data-id="11"] { background-image:url(../images/p3/p11_1.png); }
.slide .slide-item.s15 .content[data-id="12"] { background-image:url(../images/p3/p12_1.png); }
.slide .slide-item.s15 .content[data-id="13"] { background-image:url(../images/p3/p13_1.png); }
.slide .slide-item.s15 .content[data-id="14"] { background-image:url(../images/p3/p14_1.png); }
.slide .slide-item.s15 .content[data-id="15"] { background-image:url(../images/p3/p15_1.png); }
.slide .slide-item.s15 .content[data-id="16"] { background-image:url(../images/p3/p16_1.png); }
.slide .slide-item.s15 .content[data-id="17"] { background-image:url(../images/p3/p17_1.png); }
.slide .slide-item.s15 .content[data-id="18"] { background-image:url(../images/p3/p18_1.png); }
.slide .slide-item.s15 .content[data-id="19"] { background-image:url(../images/p3/p19_1.png); }
.slide .slide-item.s15 .content[data-id="20"] { background-image:url(../images/p3/p20_1.png); }
.slide .slide-item.s15 .content[data-id="21"] { background-image:url(../images/p3/p21_1.png); }
.slide .slide-item.s15 .buttons { position: absolute; width: 100%; left: 0px; bottom: 50px; }
.slide .slide-item.s15 .content { text-align: center; color: #ffffff; padding: 75px 0px 0px 0px; }
.slide .slide-item.s15 .content .name { position: relative; display: inline-block; font-size: 2.3em; font-weight: bold; }
.slide .slide-item.s15 .content .name span { position: relative; top:-2px; display: inline-block; vertical-align: middle; max-width: 150px; word-break:break-all; }
.slide .slide-item.s15 .content .name i { position: absolute; right: -8px; top:-2px; display: block; width: 13px; height: 13px; background: url(../images/dot_1.png) no-repeat center center; background-size:cover; }


.table { display: table; }
.table .tr { display: table-row; }
.table .tr .td { display: table-cell; }

.buttons {  text-align: center; letter-spacing:-0.31em; }
.buttons .button { letter-spacing: normal; padding: 0px 15px; min-width:90px; margin: 0px 15px 10px 15px; line-height: 28px; font-size: 1.4em; color: #ffffff; font-weight: bold; display: inline-block; border:1px solid #ffffff; border-radius:20px; background: rgba(255, 255,255, 0.1) }
.buttons .button:active { -webkit-transform: scale(1.05); transform: scale(1.05); }
.buttons .button.yellow { background: #fbc13c;}

.alert-text .buttons { position: absolute; bottom: -100px; left: 0px; width: 100%;  font-size: 0.7em; }

@-webkit-keyframes rotateY360 {
    0%{ -webkit-transform:rotateY(0deg);}   
    80%{ -webkit-transform:rotateY(360deg);} 
    100%{ -webkit-transform:rotateY(360deg);}
}
@keyframes rotateY360 {
    0%{ transform:rotateY(0deg);}    
    80%{ transform:rotateY(360deg);}
    100%{ transform:rotateY(360deg);}
}
.company-mask {  -webkit-transform:scale(1.005); transform:scale(1.005); background:#c8142e; -webkit-transition: all 600ms ease; transition: all 600ms ease; position:absolute; z-index:10000; left:0px; top:0px; width:100%; height:100%; text-align:center;}
.company-mask .c{ -webkit-perspective:800; perspective:800;  position:absolute; margin:auto; top:0px; bottom:0px; left:0px; right:0px; width:85px; height:45px; text-align:center; color:#ffffff; line-height:20px; font-size:1.6em; }
.company-mask .c .t { width:85px; height:25px; background:url(../images/sprite.png) no-repeat 0px 0px; background-size:320px 480px;  }
.company-mask .number { display: inline-block; border:1px solid #ffffff; padding:2px 4px; border-radius:20px; }
.company-mask .number span { display:block; width:67px; height:6px; background:url(../images/sprite.png) no-repeat 0px -31px; background-size: 320px 480px; }
.company-mask .number span span { width:0%; background-position: 0px -25px; -webkit-transition: all 300ms ease; transition: all 300ms ease; }

.company-mask.hide { -webkit-transform: scale(3); transform: scale(3); opacity:0; visibility:hidden; }


