<php>$page_title = '项目列表';</php>
<include file="Public/mobile_head_weui" />
    <style>
    body {
        background-color: #e5e5e5;
    }

    .header {
        text-align: center;
    }

    .main {
        padding: 10px;
    }

    .weui-media-box {
        padding: 10px;
    }

    .weui-panel {
        border-radius: 5px;
    }

    #order_time,
    #cancel_reason {
        border: 1px solid #ccc;
        padding: 3px 5px;
    }

    .weui-picker-container,
    .weui-picker-overlay {
        z-index: 10000;
    }
    </style>

<body>
    <div class="main">
        <ul class="big_pic_list">
            <volist name="lists" id="vo">
                <li style="margin-bottom: 15px;">
                    <php>$url = U('m_detail', 'id='.$vo['id']);</php>
                    <div class="weui-panel weui-panel_access">
                        <div class="weui-panel__bd">
                            <img class="weui-media-box__thumb" src="{$vo.cover|get_cover_url}" width="100%" height="128">
                        </div>
                        <div class="weui-panel__bd">
                            <div class="weui-media-box weui-media-box_text">
                                <h4 class="weui-media-box__title">{$vo.title}</h4>
                                <p class="weui-media-box__desc">{$vo.description}</p>
                            </div>
                        </div>
                        <div class="weui-panel__ft">
                            <div class="weui-cell weui-cell_link">
                                <a href="{$url}" class="weui-cell__bd">查看详情</a>
                                    <if condition="$vo['userExped']">
                                        <span class="weui-cell__ft"><a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary weui-btn_warn J_SubmitBtn" data-projectid="{$vo.id}">取消预约</a></span>
                                    <elseif  condition="($vo['userExped'] eq '0') AND ($vo['isOverExp'] eq 1)" />
                                        <span class="weui-cell__ft"><a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary weui-btn_warn">预约已满</a></span>
                                    <else />
                                        <span class="weui-cell__ft"><a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary J_SubmitBtn" data-projectid="{$vo.id}">立即预约</a></span>
                                    </if>
                            </div>
                        </div>
                    </div>
                </li>
            </volist>
        </ul>
        <!--         <ul class="big_pic_list">
            <volist name="lists" id="vo">
                <li style="margin-bottom: 15px;">
                    <php>$url = U('m_detail', 'id='.$vo['id']);</php>
                    <div class="weui-panel weui-panel_access">
                        <div class="weui-panel__bd">
                            <a href="{$url}" class="weui-media-box weui-media-box_appmsg">
                                <div class="weui-media-box__hd">
                                    <img class="weui-media-box__thumb" src="{$vo.cover|get_cover_url}">
                                </div>
                                <div class="weui-media-box__bd">
                                    <h4 class="weui-media-box__title">{$vo.title}</h4>
                                    <p class="weui-media-box__desc">{$vo.description}</p>
                                </div>
                            </a>
                        </div>
                        <div class="weui-panel__ft">
                            <div class="weui-cell weui-cell_link">
                                <a href="{$url}" class="weui-cell__bd">查看更多</a>
                                <span class="weui-cell__ft">1111</span>
                            </div>
                        </div>
                    </div>
                </li>
            </volist>
        </ul> -->
    </div>
</body>
<script type="text/javascript" src="minify.php?f=__JS__/m/dialog.js&v={:SITE_VERSION}"></script>
<script>
$(function() {
    var now = new Date();
    var year = now.getFullYear();
    var month = now.getMonth() + 1;
    month = '0' + month;
    month = month.substring(month.length - 2);
    
    $('.J_SubmitBtn').click(function() {
        var id = $(this).data('projectid');
        var text = $(this).text();
        var isTrue = text == '立即预约' ? 1 : 0;
        console.log(text);

        var url = "{:U('applyExp')}";
        var data = { id: id, isTrue: isTrue };
        var _this = this;

        var html = '';
        if (isTrue) {
            html = '<input class="weui-input" readonly="true" type="text" id="order_time" name="order_time" placeholder="请选择预约时间">';
        } else {
            html = '<textarea class="weui-textarea" id="cancel_reason" name="cancel_reason" placeholder="请输入取消理由" rows="3"></textarea>';
        }
        $.modal({
            title: "填写信息",
            text: html,
            buttons: [
                { text: "取消", className: "default", onClick: function() { console.log(3) } },
                {
                    text: "确定",
                    onClick: function() {
                        data.order_time = $('#order_time').val();
                        data.cancel_reason = $('#cancel_reason').val();
                        if (isTrue && !data.order_time) {
                            $.toast("请选择预约时间", "text");
                            return false;
                        }

                        if (!isTrue && !data.cancel_reason) {
                            $.toast("请输入取消理由", "text");
                            return false;
                        }

                        doAjaxGet(url, data, function(obj) {
                            console.log(obj);
                            if (obj.status == 1 && isTrue) {
                                $.toast("预约成功", "text");
                                $(_this).text("取消预约").addClass('weui-btn_warn');
                            } else if (obj.status == 1 && !isTrue) {
                                $.toast("已取消", "text");
                                $(_this).text("立即预约").removeClass('weui-btn_warn');
                            } else if (obj.status == -1) {
                                $.Dialog.fail(obj.info);
                                setTimeout(function() {
                                    location.href = "{:U('addon/BeautyMom/User/m_regist')}";
                                }, 2000);
                            } else {
                                $.Dialog.fail(obj.info);
                            }
                        });
                    }
                },
            ]
        });

        $("#order_time").datetimePicker({
            title: '请选择时间',
            years: [year],
            monthes: [month],
            onChange: function(picker, values, displayValues) {
                console.log(values);
            }
        });
    });
});
</script>

</html>