<php>$page_title = '修改个人信息';</php>
<include file="Public/mobile_head_weui" />
<link rel="stylesheet" type="text/css" href="__CSS__/mobiscroll.css?v={:SITE_VERSION}" media="all">
<link rel="stylesheet" type="text/css" href="__CSS__/mobiscroll_date.css?v={:SITE_VERSION}" media="all">
<style>
.header {
    text-align: center;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 20px auto 10px;
    display: block;
}

.weui-btn {
    width: 80%;
    border-radius: 25px;
    margin-top: 30px;
}

.weui-select {
    direction: rtl;
}
.required {
    color: red;
}
</style>

<body>
    <!--     <div class="header">
        <img src="{$info.headimgurl}" alt="" class="avatar">
        <p class="nickname">{$info.nickname}</p>
    </div> -->
    <php> $post_url || $post_url = U('m_edit', $get_param);</php>
    <form id="form" class="main" action="{$post_url}" method="post">
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label"><span class="required">*</span> 姓名</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="请输入姓名" id="truename" name="truename" value="{$info.truename}">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label"><span class="required">*</span> 手机号</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="请输入手机号" id="mobile" name="mobile" value="{$info.mobile}">
                </div>
            </div>
            <div class="weui-cell weui-cell_select">
                <div class="weui-cell__hd" style="padding-left: 15px;">
                    <label class="weui-label">性别</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="sex">
                        <php>$selected = $info['sex']=='1';</php>
                        <option {$selected ? 'selected' : ''} value="1">男</option>
                        <option {$selected ? '' : 'selected'} value="2">女</option>
                    </select>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">生日</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" id="birthday" name="birthday" placeholder="请选择生日" value="{$info.birthday|day_format}">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">宝宝生日</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" id="baby_birthday" name="baby_birthday" placeholder="请选择宝宝生日" value="{$info.baby_birthday|day_format}">
                </div>
            </div>
            <div class="weui-cell weui-cell_switch">
                <div class="weui-cell__bd">是否二胎</div>
                <div class="weui-cell__ft">
                    <php>$checked = $info['is_second_baby'] == '1' ? 'checked' : ''</php>
                    <input class="weui-switch" {$checked} id="J_IsSecondBaby" type="checkbox">
                    <input type="hidden" name="is_second_baby" id="is_second_baby" value="{$info.is_second_baby}">
                </div>
            </div>
<!--             <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">职业</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="请输入职业" name="profession" value="{$info.profession}">
                </div>
            </div> -->
        </div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" name="address" placeholder="请输入住址" rows="3">{$info.address}</textarea>
                </div>
            </div>
        </div>
        <input type="hidden" name="id" value="{$info.id}">
        <a href="javascript:;" id="J_SubmitBtn" class="weui-btn weui-btn_primary">确定</a>
    </form>
</body>
<script type="text/javascript" src="minify.php?f=__JS__/m/mobiscroll_date.js&v={:SITE_VERSION}" charset="gb2312"></script>
<script type="text/javascript" src="minify.php?f=__JS__/m/mobiscroll.js&v={:SITE_VERSION}"></script>

<script>
$(function() {
    var currYear = (new Date()).getFullYear();  
    var opt={};
    opt.date = {preset : 'date'};
    opt.datetime = {preset : 'datetime'};
    opt.time = {preset : 'time'};
    opt.default = {
        theme: 'android-ics light', //皮肤样式
        display: 'modal', //显示方式 
        mode: 'scroller', //日期选择模式
        dateFormat: 'yy-mm-dd',
        lang: 'zh',
        showNow: true,
        nowText: "今天",
        startYear: currYear - 50, //开始年份
        endYear: currYear + 10 //结束年份
    };
    $("#birthday").mobiscroll($.extend(opt['date'], opt['default']));

    $("#baby_birthday").mobiscroll($.extend(opt['date'], opt['default']));

    $('#J_SubmitBtn').click(function() {
        // $.Dialog.loading();

        if ($('#truename').val() != undefined && $('#truename').val() == "") {
            $.Dialog.fail("请填写姓名！"); //成功调用 提示一秒后自动关闭
            return false;
        }
        if ($('#mobile').val() != undefined && $('#mobile').val() == "") {
            $.Dialog.fail("请填写手机号！"); //成功调用 提示一秒后自动关闭
            return false;
        }
        if (!isMobile($('#mobile').val())) {
            $.Dialog.fail("请填写合法的手机号！"); //成功调用 提示一秒后自动关闭
            return false;
        }

        doAjaxSubmit($('#form'), function(obj) {
            console.log(obj);
            if (obj.status == 1) {
                $.toast("修改成功");
                wx.closeWindow();
            } else {
                $.toast("修改失败", "forbidden");
            }
        });
    });
    $('#J_IsSecondBaby').click(function() {
        console.log($('#is_second_baby').val());
        $('#is_second_baby').val($('#is_second_baby').val() == '1' ? '0' : '1');
    });
});
</script>

</html>