</head>
<php>$page_title = '消费查询';</php>
<include file="Public/mobile_head_weui" />

<body>
    <div class="main">
        <empty name="products">
            <div class="weui-msg">
                <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
                <div class="weui-msg__text-area">
                    <h2 class="weui-msg__title">暂无数据</h2>
                </div>
            </div>
            <else />
            <div class="weui-cells">
                <volist name="products" id="product">
                	<php>$url = addons_url('BeautyMom://Product/m_detail',array('id'=>$product['product_id']));</php>
                    <a class="weui-cell weui-cell_access" href="{$url}">
                        <div class="weui-cell__bd">
                            <p>{$product.product_title}</p>
                        </div>
                        <div class="weui-cell__ft">余<span style="color:red;">{$product.remain_service_times|default='0'}</span>次</div>
                    </a>
                </volist>
            </div>
        </empty>
    </div>
</body>
<script>
$(function() {
    var age = getAge("{$info.birthday|time_format}");

    $('#age').text(age ? age + '岁' : '待补充');
});

function getAge(datetimeStr) {
    var birthday = new Date(datetimeStr.replace(/-/g, "/"));
    var today = new Date();
    var dfYear = Math.floor((today.getFullYear() - birthday.getFullYear()) / 4); // 考虑闰年，4年多一天
    var dt = today.getTime() - birthday.getTime();
    var age = Math.ceil((dt / (24 * 3600 * 1000) - dfYear) / 365); // 向上取整
    return age;
}
</script>

</html>